In [1]:
import pandas as pd
import numpy as np

C:\Users\rajas\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [43]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',

'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [44]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [6]:
#df.iloc[np.where(df['From_To'] == 'MAdrid_miLAN')]['FlightNumber']

1   NaN
Name: FlightNumber, dtype: float64

In [62]:
#df['FlightNumber'][df['From_To'] == 'MAdrid_miLAN'] = 1055

In [63]:
#df['FlightNumber'][df['From_To'] == 'Budapest_PaRis'] = 1075

In [45]:
#Loop to update the value of col.
cnt = 10045
for i in range (1,len(df['FlightNumber'])):
    cnt = cnt+10
    df.iloc[i,1] = cnt

In [53]:
df.iloc[1,1]

10055.0

In [46]:
df['FlightNumber']=df['FlightNumber'].astype(int)

In [58]:
df

,FlightNumber,RecentDelays,Airline,From,To,Delay_0,Delay_1,Delay_2
0,10045,"[23, 47]",KLM(!),London,Paris,NaN,23.0,47.0
1,10055,[],<Air France> (12),Madrid,Milan,NaN,NaN,NaN
2,10065,"[24, 43, 87]",(British Airways. ),London,Stockholm,24.0,43.0,87.0
3,10075,[13],12. Air France,Budapest,Paris,NaN,NaN,13.0
4,10085,"[67, 32]","""Swiss Air""",Brussels,London,NaN,67.0,32.0

In [47]:
df[['From','To']] = df.From_To.str.split("_",expand=True)

In [48]:
df['From'] = df['From'].str.capitalize()
df['To'] = df['To'].str.capitalize()

In [49]:
df = df.drop('From_To', axis=1)

In [51]:
max_len = 0
for i in range(0,len(df['RecentDelays'])):
    if len(df.iloc[i,1]) > max_len:
        max_len = len(df.iloc[i,1])
print(max_len)

3

In [112]:
#add three delay col.
#df[['Delay_0','Delay_1','Delay_2']] = 0

In [52]:
#Add no. of delay col. based on the max length of the list in Recentflight delay
for i in range(0,max_len):
    df['Delay_'+str(i)] = np.NaN

In [60]:
'''for i in range(0,len(df['RecentDelays'])):
    if len(df.iloc[i,1]) == 0:
        df.iloc[i,5] = np.NaN
        df.iloc[i,4] = np.NaN
        df.iloc[i,3] = np.NaN
    elif len(df.iloc[i,1]) == 1:
            df.iloc[i,5] = df.iloc[i,1]
            df.iloc[i,4] = np.NaN
            df.iloc[i,3] = np.NaN
    elif len(df.iloc[i,1]) == 2:
            df.iloc[i,5] = df.iloc[i,1][-1]
            df.iloc[i,4] = df.iloc[i,1][-2]
            df.iloc[i,3] = np.NaN
    elif len(df.iloc[i,1]) == 3:
            df.iloc[i,5] = df.iloc[i,1][-1]
            df.iloc[i,4] = df.iloc[i,1][-2]
            df.iloc[i,3] = df.iloc[i,1][-3]'''

"for i in range(0,len(df['RecentDelays'])):\n    if len(df.iloc[i,1]) == 0:\n        df.iloc[i,5] = np.NaN\n        df.iloc[i,4] = np.NaN\n        df.iloc[i,3] = np.NaN\n    elif len(df.iloc[i,1]) == 1:\n            df.iloc[i,5] = df.iloc[i,1]\n            df.iloc[i,4] = np.NaN\n            df.iloc[i,3] = np.NaN\n    elif len(df.iloc[i,1]) == 2:\n            df.iloc[i,5] = df.iloc[i,1][-1]\n            df.iloc[i,4] = df.iloc[i,1][-2]\n            df.iloc[i,3] = np.NaN\n    elif len(df.iloc[i,1]) == 3:\n            df.iloc[i,5] = df.iloc[i,1][-1]\n            df.iloc[i,4] = df.iloc[i,1][-2]\n            df.iloc[i,3] = df.iloc[i,1][-3]"

In [57]:
for i in range(0,len(df['RecentDelays'])):
    #Check if value exists
    if len(df.iloc[i,1]) > 0:
        cnt = 7
        for j in df.iloc[i,1][::-1]:
            df.iloc[i,cnt] = int(j)
            cnt=cnt-1

In [61]:
df

,FlightNumber,RecentDelays,Airline,From,To,Delay_0,Delay_1,Delay_2
0,10045,"[23, 47]",KLM(!),London,Paris,NaN,23.0,47.0
1,10055,[],<Air France> (12),Madrid,Milan,NaN,NaN,NaN
2,10065,"[24, 43, 87]",(British Airways. ),London,Stockholm,24.0,43.0,87.0
3,10075,[13],12. Air France,Budapest,Paris,NaN,NaN,13.0
4,10085,"[67, 32]","""Swiss Air""",Brussels,London,NaN,67.0,32.0

In [27]:
df.iloc[2,1][::-1]

[87, 43, 24]